.Table{

  .rt-th{
    outline: none!important;
  }
  .rt-td{
    text-align: center;
  }
}
.white{
  background: #fff;
}

.whiteBar{
  background-color: rgb(255,255,255)!important;
  padding:10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Searcher{
  min-width: 250px;
  z-index: 999;
}
